src/main/resources/webservice/estafeta.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.integrador.com/xml/services" targetNamespace="http://www.integrador.com/xml/services" elementFormDefault="qualified">

	<!--  
	==================================================================================
	| Estafeta Frecuencia Cotizador
	==================================================================================
	-->
	<xs:element name="EstafetaFrecuenciaCotizadorRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="esFrecuencia" type="xs:string" />
				<xs:element name="esLista" 		type="xs:string" />
				<xs:element name="tipoEnvio" 	type="xs:string" />
				<xs:element name="esPaquete" 	type="xs:string" />
				<xs:element name="peso" 		type="xs:string" />
				<xs:element name="largo" 		type="xs:string" />
				<xs:element name="alto" 		type="xs:string" />
				<xs:element name="ancho" 		type="xs:string" />
				<xs:element name="listaOrigen" 	type="xs:string" />
				<xs:element name="listaDestino" type="xs:string" />
				<xs:element name="cliente" 		type="xs:string" />
				<xs:element name="contrasena" 	type="xs:string" />
				<xs:element name="token" 		type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--  
	==================================================================================
	| Estafeta Frecuencia Cotizador - Response
	==================================================================================
	-->
	<xs:element name="EstafetaFrecuenciaCotizadorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TipoEnvio" 			type="tns:TipoEnvio" />
				<xs:element name="TiposServicios" 		type="tns:TipoSer"/>
				<xs:element name="Colonias" 			type="tns:Colonia"/>
				<xs:element name="ModalidadEntrega" 	type="tns:ModalidadEntrega" />
				<xs:element name="DiasEntrega" 			type="tns:DiasEntrega" />
				<xs:element name="CostoReexpedicion" 	type="xs:string" />
				<xs:element name="ExistenteSiglaOri"	type="xs:string" />
				<xs:element name="ExistenteSiglaDes" 	type="xs:string" />
				<xs:element name="Destino" 				type="tns:Destino" />
				<xs:element name="Origen" 				type="tns:Origen" />
				<xs:element name="Error" 				type="xs:string" />
				<xs:element name="MensajeError" 		type="xs:string" />
				<xs:element name="CodigoPosOri" 		type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="TipoEnvio">
		<xs:sequence>
			<xs:element name="esPaquete" 	type="xs:string" />
			<xs:element name="largo" 		type="xs:string" />
			<xs:element name="peso" 		type="xs:string" />
			<xs:element name="alto" 		type="xs:string" />
			<xs:element name="ancho" 		type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TipoSer">
		<xs:sequence>
			<xs:element name="TipoServicio" type="tns:TipoServicio" minOccurs="0" maxOccurs="unbounded" block="extension"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TipoServicio">
		<xs:sequence>
			<xs:element name="descripcionServicio" 	type="xs:string" />
			<xs:element name="tipoEnvioRes" 		type="xs:string" />
			<xs:element name="aplicaCotizacion" 	type="xs:string" />
			<xs:element name="tarifaBase" 			type="xs:string" />
			<xs:element name="ccTarifaBase" 		type="xs:string" />
			<xs:element name="cargosExtra" 			type="xs:string" />
			<xs:element name="sobrePeso" 			type="xs:string" />
			<xs:element name="ccSobrePeso" 			type="xs:string" />
			<xs:element name="costoTotal" 			type="xs:string" />
			<xs:element name="peso" 				type="xs:string" />
			<xs:element name="aplicaServicio" 		type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Colonia">
		<xs:sequence>
			<xs:element name="nombre" type="xs:string" minOccurs="0" maxOccurs="unbounded" block="extension"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ModalidadEntrega">
		<xs:sequence>
			<xs:element name="ocurreForzoso" 	type="xs:string" />
			<xs:element name="frecuencia" 		type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DiasEntrega">
		<xs:sequence>
			<xs:element name="lunes" 		type="xs:string" />
			<xs:element name="martes" 		type="xs:string" />
			<xs:element name="miercoles" 	type="xs:string" />
			<xs:element name="jueves" 		type="xs:string" />
			<xs:element name="viernes" 		type="xs:string" />
			<xs:element name="sabado" 		type="xs:string" />
			<xs:element name="domingo" 		type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Destino">
		<xs:sequence>
			<xs:element name="cpDestino" 	type="xs:string" />
			<xs:element name="plaza" 		type="xs:string" />
			<xs:element name="municipio" 	type="xs:string" />
			<xs:element name="estado" 		type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Origen">
		<xs:sequence>
			<xs:element name="codigoPosOri" 	type="xs:string" />
			<xs:element name="plazaOri" 		type="xs:string" />
			<xs:element name="municipioOri" 	type="xs:string" />
			<xs:element name="estadoOri" 		type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!--  
	==================================================================================
	| Estafeta Label
	==================================================================================
	-->
	<xs:element name="EstafetaLabelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="origenAddress1" 		type="xs:string" />
				<xs:element name="origenNeighborhood" 	type="xs:string" />
				<xs:element name="origenZipCode" 		type="xs:string" />
				<xs:element name="origenContactName" 	type="xs:string" />
				<xs:element name="origenState" 			type="xs:string" />
				<xs:element name="origenCity" 			type="xs:string" />
				<xs:element name="origenAddress2" 		type="xs:string" />
				<xs:element name="origenPhoneNumber" 	type="xs:string" />
				<xs:element name="origenExtNum" 		type="xs:string" />
				<xs:element name="origenIntNum" 		type="xs:string" />
				<xs:element name="origenCorporateName"	type="xs:string" />
				<xs:element name="origenReference"		type="xs:string" />
				
				<xs:element name="address1" 		type="xs:string" />
				<xs:element name="extNum" 			type="xs:string" />
				<xs:element name="intNum" 			type="xs:string" />
				<xs:element name="neighborhood" 	type="xs:string" />
				<xs:element name="zipCode" 			type="xs:string" />
				<xs:element name="contactName" 		type="xs:string" />
				<xs:element name="state" 			type="xs:string" />
				<xs:element name="city" 			type="xs:string" />
				<xs:element name="address2" 		type="xs:string" />
				<xs:element name="phoneNumber" 		type="xs:string" />
				<xs:element name="corporateName"	type="xs:string" />
				<xs:element name="reference"		type="xs:string" />
				
				<xs:element name="aditionalInfo" 			type="xs:string" />
				<xs:element name="serviceTypeId" 			type="xs:string" />
				<xs:element name="content"					type="xs:string" />
				<xs:element name="contentDescription"		type="xs:string" />
				<xs:element name="numberOfLabels" 			type="xs:string" />
				<xs:element name="parcelTypeId" 			type="xs:string" />
				<xs:element name="weight" 					type="xs:string" />
				<xs:element name="height" 					type="xs:string" />
				<xs:element name="length" 					type="xs:string" />
				<xs:element name="width" 					type="xs:string" />
				<xs:element name="paperType" 				type="xs:string" />
				<xs:element name="deliveryToEstafetaOffice" type="xs:string" />
				
				<xs:element name="client" 					type="xs:string" />
				<xs:element name="password" 				type="xs:string" />
				<xs:element name="token" 					type="xs:string" />
				
				<xs:element name="provider" 				type="xs:string" />
				<xs:element name="via" 						type="xs:string" />
				
				<xs:element name="account" 					type="xs:string" />
				
				<xs:element name="insurance" 				type="xs:string" />
				<xs:element name="insuranceValue" 			type="xs:string" />
				<xs:element name="isServiceUsesKilos" 		type="xs:string" />
				
				<xs:element name="reexpedicion" 			type="xs:string" />
				<xs:element name="alias" 					type="xs:string" />
				<xs:element name="servicio" 				type="xs:string" />
				<xs:element name="service"	 				type="xs:string" />
				
				<xs:element name="id"	 					type="xs:string" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  
	==================================================================================
	| Estafeta Label - Response
	==================================================================================
	-->
	<xs:element name="EstafetaLabelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tracking" 			type="xs:string" />
				<xs:element name="responseDescription" 	type="xs:string" />
				<xs:element name="file" 				type="xs:string" />
				<xs:element name="responseCode" 		type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--  
	==================================================================================
	| Estafeta Consulta Envios - Request
	==================================================================================
	-->
	<xs:element name="ExecuteQuery">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="client" 		type="xs:string" />
				<xs:element name="password" 	type="xs:string" />
				<xs:element name="token" 		type="xs:string" />
				<xs:element name="searchType" 			type="tns:SearchType" />
				<xs:element name="searchConfiguration" 	type="tns:SearchConfiguration" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="SearchType">
		<xs:sequence>
			<xs:element name="type" 			type="xs:string"/>
			<xs:element name="waybillRange" 	type="tns:WaybillRange" />
			<xs:element name="waybillList" 		type="tns:WaybillList" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WaybillRange">
		<xs:sequence>
			<xs:element name="initialWaybill" 	type="xs:string"/>
			<xs:element name="finalWaybill" 	type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WaybillList">
		<xs:sequence>
			<xs:element name="waybillType" type="xs:string"/>
			<xs:element name="waybills" type="tns:ArrayOfString"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SearchConfiguration">
		<xs:sequence>
			<xs:element name="includeDimensions" 			type="xs:string"/>
			<xs:element name="includeWaybillReplaceData" 	type="xs:string"/>
			<xs:element name="includeReturnDocumentData" 	type="xs:string"/>
			<xs:element name="includeMultipleServiceData" 	type="xs:string"/>
			<xs:element name="includeInternationalData" 	type="xs:string"/>
			<xs:element name="includeCustomerInfo" 			type="xs:string"/>
			<xs:element name="includeSignature" 			type="xs:string"/>
			<xs:element name="historyConfiguration" 		type="tns:HistoryConfiguration"/>
			<xs:element name="filterType" 					type="tns:Filter"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HistoryConfiguration">
		<xs:sequence>
			<xs:element name="includeHistory" 	type="xs:string"/>
			<xs:element name="historyType" 		type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Filter">
		<xs:sequence>
			<xs:element name="filterInformation" 	type="xs:string"/>
			<xs:element name="filterType" 			type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--  
	==================================================================================
	| Estafeta Consulta Envios - Response
	==================================================================================
	-->
	<xs:element name="ExecuteQueryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="errorCode" 				type="xs:string" />
				<xs:element name="errorCodeDescriptionSPA" 	type="xs:string" />
				<xs:element name="errorCodeDescriptionENG" 	type="xs:string" />
				<xs:element name="trackingData" 			type="tns:ArrayOfTrackingData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="ArrayOfTrackingData">
		<xs:sequence>
			<xs:element name="TrackingData" type="tns:TrackingData" minOccurs="0" maxOccurs="unbounded" block="extension"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TrackingData">
		<xs:sequence>
			<xs:element name="waybill" 					type="xs:string" />
			<xs:element name="shortWaybillId" 			type="xs:string" />
			<xs:element name="serviceId" 				type="xs:string" />
			<xs:element name="serviceDescriptionSPA" 	type="xs:string" />
			<xs:element name="serviceDescriptionENG" 	type="xs:string" />
			<xs:element name="customerNumber" 			type="xs:string" />
			<xs:element name="packageType" 				type="xs:string" />
			<xs:element name="additionalInformation" 	type="xs:string" />
			<xs:element name="statusSPA" 				type="xs:string" />
			<xs:element name="statusENG" 				type="xs:string" />
			<xs:element name="pickupData" 				type="tns:PickupData" />
			<xs:element name="deliveryData" 			type="tns:DeliveryData" />
			<xs:element name="dimensions" 				type="tns:Dimensions" />
			<xs:element name="waybillReplaceData" 		type="tns:WaybillReplaceData" />
			<xs:element name="returnDocumentData" 		type="tns:ReturnDocumentData" />
			<xs:element name="multipleServiceData" 		type="tns:MultipleServiceData" />
			<xs:element name="internationalData" 		type="tns:InternationalData" />
			<xs:element name="customerInfo" 			type="tns:CustomerInfo" />
			<xs:element name="history" 					type="tns:ArrayOfHistory" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PickupData">
		<xs:sequence>
			<xs:element name="originAcronym" 	type="xs:string"/>
			<xs:element name="originName" 		type="xs:string"/>
			<xs:element name="pickupDateTime" 	type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DeliveryData">
		<xs:sequence>
			<xs:element name="destinationAcronym" 	type="xs:string"/>
			<xs:element name="destinationName" 		type="xs:string"/>
			<xs:element name="deliveryDateTime" 	type="xs:string"/>
			<xs:element name="zipCode" 				type="xs:string"/>
			<xs:element name="receiverName" 		type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Dimensions">
		<xs:sequence>
			<xs:element name="weight" 			type="xs:string"/>
			<xs:element name="volumetricWeight" type="xs:string"/>
			<xs:element name="width" 			type="xs:string"/>
			<xs:element name="length" 			type="xs:string"/>
			<xs:element name="height" 			type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="WaybillReplaceData">
		<xs:sequence>
			<xs:element name="originalWaybill" 	type="xs:string"/>
			<xs:element name="replaceWaybill" 	type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ReturnDocumentData">
		<xs:sequence>
			<xs:element name="initialWaybill" 	type="xs:string"/>
			<xs:element name="finalWaybill" 	type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MultipleServiceData">
		<xs:sequence>
			<xs:element name="precedingWaybills" 	type="xs:string"/>
			<xs:element name="followingWaybills" 	type="xs:string"/>
			<xs:element name="waybillList" 			type="tns:ArrayOfString"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ArrayOfString">
		<xs:sequence>
			<xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" block="extension"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InternationalData">
		<xs:sequence>
			<xs:element name="internationalWaybill" type="xs:string"/>
			<xs:element name="originCountryCode" 	type="xs:string"/>
			<xs:element name="originCountrySPA" 	type="xs:string"/>
			<xs:element name="originCountryENG" 	type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CustomerInfo">
		<xs:sequence>
			<xs:element name="reference" 	type="xs:string"/>
			<xs:element name="costsCentre" 	type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ArrayOfHistory">
		<xs:sequence>
			<xs:element name="History" type="tns:History" minOccurs="0" maxOccurs="unbounded" block="extension"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="History">
		<xs:sequence>
			<xs:element name="eventDateTime" 				type="xs:string"/>
			<xs:element name="eventId" 						type="xs:string"/>
			<xs:element name="eventDescriptionSPA" 			type="xs:string"/>
			<xs:element name="eventDescriptionENG" 			type="xs:string"/>
			<xs:element name="eventPlaceAcronym" 			type="xs:string"/>
			<xs:element name="eventPlaceName" 				type="xs:string"/>
			<xs:element name="exceptionCode" 				type="xs:string"/>
			<xs:element name="exceptionCodeDescriptionSPA" 	type="xs:string"/>
			<xs:element name="exceptionCodeDescriptionENG" 	type="xs:string"/>
			<xs:element name="exceptionCodeDetails" 	type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>