src/main/resources/webservice/fedex.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.integrador.com/xml/fedex/services" targetNamespace="http://www.integrador.com/xml/fedex/services" elementFormDefault="qualified">

	<!--  
	==================================================================================
	| Fedex Label - Temporal - Mismo que estafeta - Proximamente a actalizar - 
	| Al eliminar limpiar los objetos FedeLabelRequest y FedeLabelResponse
	==================================================================================
	-->
	<xs:element name="FedexLabelRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="origenAddress1" 		type="xs:string" />
				<xs:element name="origenNeighborhood" 	type="xs:string" />
				<xs:element name="origenZipCode" 		type="xs:string" />
				<xs:element name="origenContactName" 	type="xs:string" />
				<xs:element name="origenState" 			type="xs:string" />
				<xs:element name="origenCity" 			type="xs:string" />
				<xs:element name="origenAddress2" 		type="xs:string" />
				<xs:element name="origenPhoneNumber" 	type="xs:string" />
				<xs:element name="origenExtNum" 		type="xs:string" />
				<xs:element name="origenIntNum" 		type="xs:string" />
				<xs:element name="origenCorporateName"	type="xs:string" />
				<xs:element name="origenReference"		type="xs:string" />
				
				<xs:element name="address1" 		type="xs:string" />
				<xs:element name="extNum" 			type="xs:string" />
				<xs:element name="intNum" 			type="xs:string" />
				<xs:element name="neighborhood" 	type="xs:string" />
				<xs:element name="zipCode" 			type="xs:string" />
				<xs:element name="contactName" 		type="xs:string" />
				<xs:element name="state" 			type="xs:string" />
				<xs:element name="city" 			type="xs:string" />
				<xs:element name="address2" 		type="xs:string" />
				<xs:element name="phoneNumber" 		type="xs:string" />
				<xs:element name="corporateName"	type="xs:string" />
				<xs:element name="reference"		type="xs:string" />
				
				<xs:element name="aditionalInfo" 			type="xs:string" />
				<xs:element name="serviceTypeId" 			type="xs:string" />
				<xs:element name="content"					type="xs:string" />
				<xs:element name="contentDescription"		type="xs:string" />
				<xs:element name="numberOfLabels" 			type="xs:string" />
				<xs:element name="parcelTypeId" 			type="xs:string" />
				<xs:element name="weight" 					type="xs:string" />
				<xs:element name="height" 					type="xs:string" />
				<xs:element name="length" 					type="xs:string" />
				<xs:element name="width" 					type="xs:string" />
				<xs:element name="paperType" 				type="xs:string" />
				<xs:element name="deliveryToEstafetaOffice" type="xs:string" />
				
				<xs:element name="client" 		type="xs:string" />
				<xs:element name="password" 	type="xs:string" />
				<xs:element name="token" 		type="xs:string" />
				
				<xs:element name="provider" 	type="xs:string" />
				<xs:element name="via" 			type="xs:string" />

				<xs:element name="cuenta" 		type="xs:string" />
				
				<xs:element name="insured" 			type="xs:string" />
				<xs:element name="insured_value" 	type="xs:string" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  
	==================================================================================
	| Estafeta Label - Response
	==================================================================================
	-->
	<xs:element name="FedexLabelResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tracking" 			type="xs:string" />
				<xs:element name="responseDescription" 	type="xs:string" />
				<xs:element name="file" 				type="xs:string" />
				<xs:element name="responseCode" 		type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--  
	==================================================================================
	| Fedex Services Types - Request
	==================================================================================
	-->
	<xs:element name="FedexServiceTypeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="account" 		type="xs:string" />
				
				<xs:element name="origenAddress" 	type="xs:string" />
				<xs:element name="origenCity" 		type="xs:string" />
				<xs:element name="origenState" 		type="xs:string" />
				<xs:element name="origenMunicipio" 	type="xs:string" />
				<xs:element name="origenCP" 		type="xs:string" />
				<xs:element name="origenName" 		type="xs:string" />
				<xs:element name="origenPhone" 		type="xs:string" />
				
				<xs:element name="destinationAddress" 	type="xs:string" />
				<xs:element name="destinationCity" 		type="xs:string" />
				<xs:element name="destinationState" 	type="xs:string" />
				<xs:element name="destinationMunicipio"	type="xs:string" />
				<xs:element name="destinationCP" 		type="xs:string" />
				<xs:element name="destinationName" 		type="xs:string" />
				<xs:element name="destinationPhone" 	type="xs:string" />
				
				<xs:element name="weight" 	type="xs:string" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!--  
	==================================================================================
	| Fedex Services Types - Response
	==================================================================================
	-->
	<xs:element name="FedexServiceTypeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="servicesTypes" 		type="xs:string" />
				<xs:element name="outOfDeliveryArea" 	type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>